body{
    width: 500px;
    margin: auto;  /* Centra el cuerpo horizontalmente */
    border: 7px dashed rgb(72, 72, 72);  /* Establece un borde punteado de 10px y color rojo */
    padding: 20px;  /* Agrega un espacio interno al cuerpo según sea necesario */
    box-sizing: border-box;  /* Incluye el ancho y alto del borde en el tamaño total del elemento */
    text-align: center;  /* Centra el texto dentro del cuerpo */
    
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    border: white 8px groove;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}