body{
    width: 500px;
    margin: auto;
    border: 7px dashed rgb(72, 72, 72);  
    padding: 20px;  
    box-sizing: border-box; 
    text-align: center;  
    
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    border: white 8px groove;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}
